body   {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf)
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #dddddd;
}
.header {
    width: 100%;
    height: 526px;
    background-color: #3a7dfd;
    background-image: linear-gradient(-147deg, #3a7dfd 0%, #1157db 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo {
    margin-top: 50px;
	/* background: url(../img/logo.png) repeat-x; */
	/* background-size: 600px; */
    width: 600px;
}
.logo img {
    width: 600px;
}
.site_info {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.info {
    padding: 100px auto;
    /* width: 147px; */
	height: 18px;
	color: #ffffff;

	font-size: 18px;
	font-weight: 700;
}
.header_name {
    padding-top: 21px;
    /* height: 45px; */
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 36.81px;
}
.job {  
    padding-top: 15px;
    width: 243px;
    height: 39px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}
.button {
    width: 100px;
    padding:15px 56px;
    text-align: center;
    margin-top: 20px;
    border-radius: 25px;
    background: #fff;
    border: none;
    color: #072b6f;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.button :hover {
    box-shadow: #072b6f;
}
.button a {
    color: #072b6f;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
.under_button_text {
    width: 50%;
    text-align: center;
    padding-top: 10px;
}
.under_button_text h3 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 12px;
}
.content {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 80%;
    margin: 46px auto;
    justify-content: center;
}
.content_header {
    padding-top: 25px;
    text-align: center;
}
.content_header_text1 {
    height: 15px;
    color: #072b6f;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.content_header_text2 {
    padding: 10px 0 30px 0;
    height: 14px;
    color: #7bb9ff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}
.content_text {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
}
.content_1 {
    display: flex;
    flex-direction: column;
    margin-right: 8px; 
    width: 50%; 
}
.img1 img {  
    width: 100%;
}
.text_article {
    padding: 10px 0;;
    /* width: 421px; */
    /* height: 18px; */
    color: #072b6f;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.text {
    /* width: 432px; */
    /* height: 65px; */
    color: #8f8f8f;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}
.text_full {
    width: 113px;
    height: 15px;
    color: #072b6f;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    padding: 10px 0 30px 0;
}
.content_2 {
    display: flex;
    flex-direction: column;
    margin-left: 8px; 
    width: 50%; 
}
.img2 img {  
    width: 100%;
    
}
.footer {
    height: 250px;
    min-height: 250px;
    background-color: #3a7dfd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.up_button {
    position: fixed;
    right:1px;
    bottom: 10px;
}
.up_button :hover {
    cursor: pointer;
}
.about_me {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 75px;
    text-align: left;
    width: 20%;
}
.name {
    color: #fefefe;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}
.my_job {
    color: #deedfe;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}
.social_block {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 75px;
    width: 20%;
}
.social {
    justify-content: center;
    display: flex;
}
.ico {
    padding:0 10px;
}
.ico img {
    width: 40px;
    height: 40px;
}
.read_us {
    text-align: center;
    
    color: #deedfe;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 39.81px;
}
.write_me {
    text-align: center;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 75px;
}
.write_me_title {
    color: #deedfe;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 39.8px;
}
.write_me_button {
    color: #deedfe;
    width: 120px;
    margin: 0 auto;
    padding: 10px;
    border:1px solid #fff;
    border-radius: 25px;
    cursor: pointer;
}


@media (max-width:768px) {
    .logo {
        display: none;
    }
    
}

@media (max-width:1100px) {
    .logo img {
        width: 500px;
    } 
    .logo {
        width: 500px;
    } 
    .about_me {
        padding-top: 10px;
    }
    .social_block {
        padding-top: 10px;
    }
    .write_me {
        padding-top: 10px;
    }
    .footer {
       height: 150px;
       min-height: 150px;
    }
    .my_job {
        color: #deedfe;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 200;
        line-height: 20px;
    }
    .ico img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width:960px) {
    .logo {
        width: 400px;
    } 
}
@media (max-width:850px) {
    .logo img {
        width: 300px;
    } 
    .logo {
        width: 300px;
    } 
    .site_info {
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }
    .header {
        height: 300px;
    }
    .header_name {
        padding-top: 21px;        
        font-size: 36px;
        font-weight: 700;
        line-height: 36.81px;
    }
    .content_text {
        flex-direction: column;
        padding: 0 20px; 
    }
    .content {
        width: 90%;
    }
    .content_1 {
        width: 100%;
        margin: 0;
    }
    .content_2 {
        width: 100%;
        margin: 0;
    }
    .content_text {
        padding: 5px;
    }
    .name {
        color: #fefefe;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
    }
    .footer {
        justify-content: space-around;
    }
}
@media (max-width:550px) {
    .about_me {
        display: none;
    }
    .footer {
        justify-content: center;
    }
    .up_button {
        display: none;
    }
    .social_block {
        width: 50%;
    }
    .write_me {
        width: 50%;
    }
}